<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.happyhour">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        <activity
            android:name=".Games.Sebas.Pintar.ChooseDraw"
            android:screenOrientation="landscape" />
        <activity android:name=".Information" />
        <activity
            android:name=".Games.BallonActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".HelpActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Estructura.RandomGame"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Games.Victor.CardGame2"
            android:noHistory="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Games.Victor.CardGame1"
            android:noHistory="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Games.Victor.LetterGame"
            android:noHistory="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Games.Sebas.Pintar.Pintar"
            android:noHistory="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Games.Sebas.Puzzle.ChoosePuzzle"
            android:noHistory="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Games.Adri.Game2_2"
            android:noHistory="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Games.Adri.Game2_1"
            android:noHistory="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Games.Adri.Game1_2"
            android:noHistory="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Games.Adri.Game1_1"
            android:noHistory="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Estructura.Games"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Estructura.GameMode"
            android:screenOrientation="landscape" />
        <activity android:name=".Sparkles.ParticleActivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Games.Sebas.Puzzle.PuzzleActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>